.item-detail-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem 1rem;
  grid-template-areas:
    "card description"
    "card count";
  place-items: center;
  width: 90%;
  max-width: 1070px;
  margin: 1rem auto 0 auto;
}

.CardItemDetail {
  grid-area: card;
  display: inline-block;
  width: 220px;
  height: 300px;
  font: monospace;
  border: thin solid var(--second-color);
  border-radius: 10px;
  background-color: white;
  box-shadow: 0.1rem 0.1rem 0.2rem 0.15rem rgba(0, 0, 0, 0.4);
}

.description {
  grid-area: description;
  width: 100%;
  border: thin solid var(--second-color);
  border-radius: 5px;
  color: black;
}

.ItemCount {
  grid-area: count;
  width: 100%;
  margin: auto;
  text-align: center;
}

.link-carrito {
  display: block;
  width: 100%;
  max-width: 300px;
  height: 1.5rem;
  margin: auto;
  font-size: 1.25rem;
  color: white;
  text-align: center;
  background-color: var(--link-color);
  text-decoration: none;
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.2rem #0002;
  transition: opacity 1s ease;
}

.link-carrito:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .item-detail-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "card"
      "description"
      "count";
  }

  .CardItemDetail {
  }

  .description {
  }

  .ItemCount {
  }
}
