.contact-container {
  max-width: 1024px;
  margin: auto;
}

.title-contacto {
  margin: 2rem auto 0 auto;
  text-align: center;
  font-size: clamp(1.31rem, 1.24rem + 0.37vw, 1.5rem);
  text-decoration: underline;
  text-decoration-color: var(--second-color);
}

.hr {
  margin-top: 2rem;
}

.social-media-container svg {
  margin: auto 0.2rem auto 0.2rem;
}

.card-contact {
  margin-top: 2rem;
  width: 85vw;
  height: 135px;
  box-shadow: var(--box-shadow);
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  max-width: 250px;
  text-align: center;
}

.card-serv-decoration {
  text-decoration: none;
  color: var(--link-color);
}

.social-media-container > a {
  margin-right: auto;
  margin-left: auto;
  margin: 0 0.5rem;
}

@media screen and (min-width: 768px) {
  .contact-cards-container {
    margin-right: 8vw;
    margin-left: 8vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .card-contact {
    max-width: 300px;
    height: 150px;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .contact-cards-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    max-width: 1050px;
    margin: auto;
  }

  .card-contact {
    max-width: 250px;
    height: 20vh;
    max-height: 200px;
  }
}
