.item-count-container {
  width: 100%;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  width: 40%;
  margin: auto;
}

.button {
  width: 20px;
  height: 20px;
  font-weight: 1000;
  color: var(--second-color);
  background-color: var(--first-color);
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
}

.button-agregar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6px;
}

.button-agregar {
  width: 80%;
  height: 1.5rem;
  border: none;
  border-radius: 0;
  background-color: var(--first-color);
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 1s ease-in-out;
}

.button-agregar:hover {
  font-weight: 700;
  background-color: var(--first-alpha75-color);
}
